<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855126051807-cohla14pvf4t3db4vgrtv3rfoqm8dgns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855126051807-cohla14pvf4t3db4vgrtv3rfoqm8dgns</string>
	<key>API_KEY</key>
	<string>AIzaSyAetW6gWwVXFFl5RsEQCWjrIWqMTvlrD8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>855126051807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gokhandidin.AppcentNewsApp</string>
	<key>PROJECT_ID</key>
	<string>appcentnewsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>appcentnewsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855126051807:ios:5d12ab91089af1ff9b126a</string>
</dict>
</plist>